---
import Menu from '../components/menu/menu.astro';
import Footer from '../components/footer/footer.astro';
import '../styles/global.css';

const { title, 
description = "Esymbel Cafetería - De nuestro corazón a tu taza" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Favicons -->
		<link rel="icon" type="image/svg+xml" href="/cruz-negativa.svg" />
		<!-- <link rel="alternate icon" type="image/x-icon" href="/favicon.ico" /> -->
		<link rel="apple-touch-icon" sizes="180x180" href="/cruz-negativa.svg" />

				<!-- SEO Meta Tags -->
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Josué Dev" />
		<meta name="keywords" content="cafetería, café, espresso, latte, cappuccino, té, pastelería, repostería, bebidas calientes, bebidas frías" />
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<Menu />
		<slot />
		<Footer />
	</body>
</html>


